<div class="col-md-10 col-md-offset-1">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3>List of Articles</h3>
		</div>
		<div class="box-body">
			<table class="table">
				<% @articles.each do |article| %>
					<tr>
						<td>
							<h3><%= link_to article.title, article%></h3>
							<p><%= article.body %></p>
							<div class="box-footer">
								<span class="pull-right">
									<%= link_to 'Edit', edit_article_path(article) %> |
									<%= link_to 'Delete', article, method: :delete,data: { confirm: 'Are you sure?' } %>
							</span>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="box-footer">
			<%= link_to 'Post New Article', new_article_path(@article), class: 'btn btn-sm btn-primary pull-right' %>
		</div>
	</div>
</div>